body{
background-color: black;
width:fit-content;
}

.Name{
    background: url("images/img2.jpg") no-repeat center fixed;
    display: flex;
    height:700px;
    background-size:contain;
    position: relative;
  
}

.intro ul{
    color:black;
    font-weight: 400;
    list-style: none;
    display:inline;
    width:100%;
    background-color:rgba(243, 103, 9, 0.808);
    background-blend-mode: luminosity;
    float:right;
    top: 90%;
    position:relative;
}

.Name ul li {
    display: inline-flex;
    white-space: nowrap;
    overflow: hidden;  
    font:oblique Impact,Helvetica,Arial,sans-serif;
    margin-top:40px;
    font-size: 2em;
    margin-inline:7em;
    margin-bottom: 20px;
    font-weight:bold;
    text-decoration: black;
}

.about h1{
    display: flex;
    font-family: caveat brush;
    color: rgb(27, 233, 171);
    font-size: 4em;
    margin-top:100px;
    margin-bottom:100px;
}

.about p{
    display: flex;
    font-family: helvetica,sans-serif,arial;
    color: white;
    font-size: 2em;
    line-height: 1.5;
}

.gallary img{
    height: 400px;
    widows: 400px;
    margin:20px;
}


.gallary h1{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-item-align: center;
    font-weight: bolder;
    font-family: caveat brush;
    font-size: 4em;
    color:rgb(0, 193, 252);
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom:250px;

}
.brands{
    margin-top:10px;
    background: coral;
    position: relative;
    top: 3em;
    align-items: center;
}

.brands h1{
    font-weight: bolder;
    text-align:center;
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom:200px;
}

#logo{
    display: flex;
    flex-wrap:wrap;
    margin:40px;
}

#logo img{
    margin:20px;
    height:10%;
    width: 10%;
}

.youtube img {
    align-self: center;
    display: flex;
    height:50px;
    width:50px;
}

.ytss{
    margin:10%;
    display: flex;
}

.contact h1{
    font-weight: bolder;
    font-family: caveat brush;
    font-size: 4em;
    color:rgb(235, 13, 161);
    text-align:center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom:100px;
    list-style-type: none;
}
.listcontact{
    display: inline-flex;
    

}

.listcontact img{
    height:70px;
    width:70px;
    list-style: none;

    
}

.listcontact li{
    color:whitesmoke;
    list-style: none;
}




@media(max-width:600px){
    .gallary img{
        height: 0px;
        width: 0px;
        margin:0px;
    }
    
    #logo img{
        margin:20px;
        height:25%;
        width: 25%;
    }
    
    .gallary h1{
        margin:0px;
        color:black;
    }

    .about h1{
        font-family: caveat brush;
        color: rgb(27, 233, 171);
        font-size: 4em;
        margin-top:250px;
        margin-bottom:100px;
    }

    .ytss img {
         margin:0px;
         height: 100%;
         width: 100%;
    }

    .intro ul li{
        margin-inline:1em;
        white-space: nowrap;
    }
    .Name{
        background-size: contain;
    }


}
